@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100&display=swap');
@mixin font_text{
	display: flex;
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 1rem;
	line-height: 117.19%;
	color: #667580;

}
@mixin font_h3 {
	display: flex;
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 1.55rem;
	line-height: 117.19%;
	color: #277E7D;

}


body{
	max-width: 1280px;
	font-size: 16px;
	background: #2D2D2D;
}
*{
	margin: 0;
	padding: 0;
}
.wrapper {
	max-width: 1100px;
	margin: 0 7%;
	 	
}


.header {
	display: flex;
	width: 100%;
	min-height: 140px; 
	top: 0;
	left: 0;
}
.header__body {
	display: flex;
	width: 100%;
	min-height: 140px;
}
.header__name {
	display: flex;
	width: 50%;

}
.header__h1 {
	@include font_h3;
	color: #EDA33A;
	margin: 0 2%;
	align-items: center;
}
.header__burger {
	flex: none;
}
.header__menu {
	display: flex;
	width: 50%;
	padding-right: 0.5%; 
}
.header__list {
	display: flex;
	list-style: none;
	width: 100%;
	justify-content: flex-end;
	align-items: center;
	margin-left: 0 3.75%;
}
.header__link {
	display: inline-flex;
	text-decoration: none;
	background: #BA3F3C;
	@include font_text;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	padding: 8.5px 22px;
	transition: .3s;
}
li {
	margin-left: 7.5%;
}

.header__link:hover {
	transform: scale(1.1);
	transition: .3s;
}

.cardItem {
	display: flex;
	width: 100%;
	height: auto;
	margin-bottom: 40px;
	background: #222222;
	border-radius: 0px;
}
.cardItemImg {
	max-width: 436px;
	max-height: 550px;
}
.cardItemImg img {
	width: 100%;
}
.cardItemDescription {
	padding: 30px;
}
.cardItemDescription_1 {
	display: flex;
}
.cardItemDescriptionText {
	max-width: 274px;
	margin: 0 30px 30px 0;
	@include font_text;
	color: #667580;
}
.cardItemDescriptionTextAfter {
	max-width: 304px;
	height: 14px;
	background: linear-gradient(90deg, #277E7D 50%, rgba(39, 126, 125, 0) 73.82%);
	margin: 30px 0;

}
.cardItemDescriptionTariffs {
	max-width: 300px;
	margin-left: 30px;

}
.cardItemDescriptionTariff {
	max-width: 300px;
	// min-height: 205px;
	background: #277E7D;

}
.cardItemDescriptionTariffAfter{
	
	height: 0;  
	width: 0;   
	left: 0;  
	bottom: -55px; 
	border-top: 55px solid #277E7D; 
	border-left: 150px solid transparent; 
	border-right: 150px solid transparent;

}


.backgroundName {
	@include font_h3;
	color: #FFFFFF;
	padding-top: 20px;
	min-height: 120px;
	margin: 0 20px 20px 20px;
	text-align: center;
}
.backgroundText {
	display: flex;
	justify-content: center;
	padding: 0 61px 0px 47px;
}
.text_1 {
	@include font_text;
	width: 59px;
	color: #EDA33A;
	text-align: right;
	align-items: center;
}
.text_2 {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 45px;
	line-height: 117.19%;
	text-align: center;
	color: #EDA33A;
	margin: 0 13px;
}
.text_3 {
	@include font_text;
	color: #FFFFFF;
	align-items: center;
	color: #EDA33A;

}


.cardItemDescription_2 {
	// padding-top: 55px;
}
.cardItemDescription_2Text {
	max-width: 604px;
	margin-bottom: 30px;
	@include font_text;
	color: #667580;
}






.slider_wrap {
	width: 100%;
	position: relative;
	min-width: 0;
	left: 0;
	margin-bottom: 40px;
}
.banner_slider {
	// position: relative;
	// display: flex;
	max-width: 1280px;
	max-height: 657px;
	left: 0;
}
.banner_slider img {
	width: 100%;
}
// * {
// 	box-sizing: border-box;
// }

.thumbnail_slider_area {
	position: absolute;
	left: 0;
	bottom: 23px;
	width: 100%;
	z-index: 10;
}
// .conteiner {}
// .row {}
.thumbnail_slider {
	position: relative;
	width: 100%;
	display: flex;
	min-width: 0;
	left: 0;
	
}
.col {
	max-width: 239px;
	max-height: 128px;
	margin: 0 10px;
	min-width: 0;
	text-align: center;
}
.col img {
	width: 100%;
}

.slick-list {
 	overflow: hidden;
 }
// /* Лента слайдов */
 .slick-track{
 	display: flex;
 }

// /* Стрелка */
  .slick-arrow{
 	position: absolute;
 	top: 40%;
 	z-index: 10;
 	font-size: 0;
 	width: 50px;
 	height: 70px;
    border: none;
    
 }
 // .slick-arrow:hover {
 // 	transform: scale(0.8);
	  
 // }
// /* Стрелка влево */
 .slick-arrow.slick-prev{ 		
 	background: url("../img/left.png") 0 0 /100%  no-repeat;
 	left: 0px;	
}
// /* Стрелка вправо */
  .slick-arrow.slick-next{
  	background: url("../img/right.png") 0 0 /100% no-repeat;
  	right: 0px;
  }











.slick-list {
 	overflow: hidden;
 }
// /* Лента слайдов */
 .slick-track{
 	display: flex;
 }

// /* Стрелка */
  
.slider {
	position: relative;
	display: flex;
	min-width: 0;
	left: 0;
}





.footer {
	width: 100%;
	padding: 80px 0;
	
	background: #222222;
}
.footerConteiner {
	display: flex;
	max-width: 1100px;
	margin: 0 7%;
}
.footerBoxes {
	width: 25%;
	padding: 0 
}
.footerh4 {
	@include font_text;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 3rem;
}
.footerList {

}
.footerList__icon {
	display: flex;

}
.footerLink {
	list-style: none;
	@include font_text;
	color: #FFFFFF;
	margin-bottom: 1rem;
	margin-left: 0;
	margin-right: 1rem;
	transition: .2s;
}
.footerLink:hover {
	transform: translate(5px);
	transition: .3s;
}