@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100&display=swap');
@mixin font_text{
	display: flex;
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 1rem;
	line-height: 117.19%;
	color: #667580;

}
@mixin font_h3 {
	display: flex;
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 1.55rem;
	line-height: 117.19%;
	color: #277E7D;

}


body{
	max-width: 1280px;
	font-size: 16px;
	background: #2D2D2D;
}
*{
	margin: 0;
	padding: 0;
}
.wrapper {
	max-width: 1100px;
	margin: 0 7%;
	 	
}


.header {
	display: flex;
	width: 100%;
	min-height: 140px; 
	top: 0;
	left: 0;
}
.header__body {
	display: flex;
	width: 100%;
	min-height: 140px;
}
.header__name {
	display: flex;
	width: 50%;

}
.header__h1 {
	@include font_h3;
	color: #EDA33A;
	margin: 0 5%;
	align-items: center;
}
.header__burger {
	flex: none;
}
.header__menu {
	display: flex;
	width: 50%;
	padding-right: 2%; 
}
.header__list {
	display: flex;
	list-style: none;
	width: 100%;
	justify-content: flex-end;
	align-items: center;
	margin-left: 0 3.75%;
}
.header__link {
	display: inline-flex;
	text-decoration: none;
	background: #BA3F3C;
	@include font_text;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	padding: 8.5px 22px;
	
}
li {
	margin-left: 7.5%;
}




.tariff {
	display: flex;
	justify-content: space-between;
	// flex-flow: row wrap;
	margin: 0 auto;
	// margin-bottom: 70px;
	width: 100%;
	max-width: 1100px;
	flex-direction: row;
	align-items: stretch;
}
.tariffPlan {
	
	width: 33.33%;
	height: auto;
	padding: 0 5px;
	margin: 10px 2%;
	background: #222222;

}

.tariffPlan:hover {
	background: #222222;
	box-shadow: 0px 0px 7px #000000;

}
.background {
  	position: relative;
  	display: block;
  	max-width: 300px;
 	padding: 1.56%;
	margin: 0 2%;
	background: #277E7D;
	
}
 .background:after {
 	content: "";
 	position: absolute;
 	bottom: 0;
 	width: 0;
 	height: 0;
 	border-bottom: 55px solid #222222;
 	box-sizing: border-box;
 	left: 50%;
 	border-left: 150px solid transparent;
}


.background:before {
 	content: "";
 	position: absolute;
 	bottom: 0;
 	width: 0;
 	height: 0;
 	border-bottom: 55px solid #222222;
 	box-sizing: border-box;
 	right: 50%;
 	border-right: 150px solid transparent;

}

.backgroundName {
	@include font_h3;
	color: #FFFFFF;
	padding-top: 20px;
	min-height: 120px;
	margin: 0 20px 20px 20px;
	text-align: center;
}
.backgroundText {
	display: flex;
	padding: 0 61px 44px 47px;
}
.text_1 {
	@include font_text;
	width: 59px;
	color: #EDA33A;
	text-align: right;
	align-items: center;
}
.text_2 {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 45px;
	line-height: 117.19%;
	text-align: center;
	color: #EDA33A;
	margin: 0 13px;
}
.text_3 {
	@include font_text;
	color: #FFFFFF;
	align-items: center;
	color: #EDA33A;

}
.titleText {
	@include font_text;
	margin: 11px;
	justify-content: center;
	color: #667580;

}
.titleBorder{
	border: 0.5px solid #667580;

}
.titleBtn {
	@include font_text;
	width: 110px;
	height: 36px;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: #BA3F3C;
	color: #FFFFFF;
	margin: 0 auto;
	margin-bottom: 30px;
	margin-top: 20px;
	border: none;
}




 .h2 {
 	@include font_h3;
 	color: #EDA33A;
 	width: 501px;
 	margin: 3rem auto;
 	justify-content: center;
 }


.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
}
.card {
	// max-width: 340px;
	width: 30%;
	max-height: 476px;
	background: #222222;
	box-shadow: 0px 0px 7px #000000;
	margin-bottom: 40px;
}
.cardImg {
	width: 100%;
	height: auto;
	// margin-bottom: 20px;
}
.cardH3 {
	@include font_h3;
	margin: 1.25rem;
 	min-height: 84px;
}
.cardText {
	@include font_text;
	margin: 1.25rem;
	min-height: 57px;
}
.cardBtn {
	@include font_text;
	margin: 1.25rem auto;
	text-align: center;
	color: #FFFFFF;
	background: #BA3F3C;
	padding: 9px 23px;
	border: none;
}




.h2 {}
.sliders {
	display: flex;
}
.slidersItem {}
.slidersImg {}
.slidersH3 {}
.slidersText {}
.slidersBtn {}
